In [11]:
import pandas as pd

noteevents = pd.read_csv('../../mimic-iii-clinical-database-1.4/NOTEEVENTS.csv')

C:\Users\nicod\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
noteevents.drop(columns='ROW_ID')
noteevents = noteevents[(noteevents.CATEGORY == "Discharge summary")]

In [23]:
len(noteevents)

59652

In [7]:
diagnoses =  pd.read_csv('../../mimic-iii-clinical-database-1.4/DIAGNOSES_ICD.csv')

In [17]:
diagnoses.drop(columns='ROW_ID')

        SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0              109   172335      1.0     40301
1              109   172335      2.0       486
2              109   172335      3.0     58281
3              109   172335      4.0      5855
4              109   172335      5.0      4254
...            ...      ...      ...       ...
651042       97503   188195      2.0     20280
651043       97503   188195      3.0     V5869
651044       97503   188195      4.0     V1279
651045       97503   188195      5.0      5275
651046       97503   188195      6.0      5569

[651047 rows x 4 columns]

In [24]:
noteevents_diagnoses = pd.merge(noteevents,diagnoses, on=['SUBJECT_ID', 'HADM_ID'])
noteevents_diagnoses.head()

,ROW_ID_x,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID_y,SEQ_NUM,ICD9_CODE
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,250889,1.0,01193
1,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,250890,2.0,4254
2,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,250891,3.0,42731
3,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,250892,4.0,2639
4,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,250893,5.0,2762

In [25]:
len(noteevents_diagnoses)

693821

In [3]:
patients_admission = pd.merge(patients,admissions,on='SUBJECT_ID')
patients_admission.head()

,ROW_ID_x,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ROW_ID_y,HADM_ID,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,321,116935,...,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,2149-12-17 11:10:00,2149-12-17 21:35:00,UNSTABLE ANGINA;ASTHMA;BRONCHITIS,0,1
1,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,322,149546,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,2155-02-03 17:43:00,2155-02-03 21:26:00,GI BLEED/ CHEST PAIN,0,1
2,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,323,158975,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,NaN,NaN,GI BLEEDING\COLONOSCOPY,0,1
3,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1,324,124271,...,Self Pay,HAIT,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2188-11-12 06:56:00,2188-11-12 10:10:00,PNEUMONIA;R/O TB,1,1
4,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0,325,117937,...,Private,NaN,OTHER,NaN,UNKNOWN/NOT SPECIFIED,2110-07-27 05:00:00,2110-07-27 07:15:00,INTRACRANIAL HEAD BLEED,0,1